<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250 background">
      <div class="shape shape-style-1 shape-default bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div
        class="
          container
          py-lg-md
          d-flex
          animate__animated animate__fadeIn animate__faster
        "
      >
        <div class="col px-0">
          <div class="row">
            <!-- <div class="col-lg-6 my-5">
              <h3 class="display-3 text-white">
                VOAE
                <span class="text-white">Área de Salud</span>
              </h3>
              <p class="lead text-white">
                Atención integral y de calidad brindada a los estudiantes de la
                Universidad Nacional Autónoma de Honduras (UNAH).
              </p>
            </div> -->
            <div class="col-lg-6 my-5">
              <a href="https://bmedical.webflow.io" target="_blank" style="display: block;"
                  ><img
                    src="https://uploads-ssl.webflow.com/60627bc52f76a5666e1c495b/6069e70efb08b4c6c773f686_logo%40300x-p-500.png"
                    style="width: 55%; filter: brightness(0) invert(1);"
                    alt=""
                /></a>
                <br>
              <h3 class="display-3 text-white">

                Lleva tu centro médico al siguiente nivel!
              </h3>
              <p class="lead text-white"></p>
            </div>
            <div class="col-lg-5 mb-lg-auto">
              <div>
                <div class="card bg-secondary shadow border-0">
                  <div class="card-header bg-white">
                    <div class="text-muted text-center">
                      <h5 style="color: gray">Iniciar sesión</h5>
                    </div>
                  </div>
                  <div class="card-body p-lg-4">
                    <form role="form" [formGroup]="loginForm">
                      <div
                        class="form-group mb-3"
                        [ngClass]="{ focused: focus === true }"
                      >
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="ni ni-circle-08"></i
                            ></span>
                          </div>
                          <input
                            class="form-control"
                            placeholder="Número de Identidad"
                            formControlName="dni"
                            type="text"
                            (focus)="focus = true"
                            (blur)="focus = false"
                          />
                        </div>
                        <div
                          *ngIf="
                            loginForm.get('dni').invalid &&
                            (loginForm.get('dni').dirty ||
                              loginForm.get('dni').touched)
                          "
                        >
                          <small
                            *ngIf="loginForm.get('dni').errors.required"
                            style="color: red"
                            >El dni es requerido</small
                          >
                          <small
                            style="color: red"
                            *ngIf="loginForm.get('dni').errors.pattern"
                          >
                            El dni no es válido. No utilices guiones.
                          </small>
                        </div>
                      </div>
                      <div
                        class="form-group mb-1"
                        [ngClass]="{ focused: focus1 === true }"
                      >
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="ni ni-lock-circle-open"></i
                            ></span>
                          </div>
                          <input
                            class="form-control"
                            placeholder="Contraseña"
                            type="password"
                            (focus)="focus1 = true"
                            (blur)="focus1 = false"
                            formControlName="password"
                          />
                        </div>
                        <div
                          *ngIf="
                            loginForm.get('password').invalid &&
                            (loginForm.get('password').dirty ||
                              loginForm.get('password').touched)
                          "
                        >
                          <small
                            style="color: red"
                            *ngIf="loginForm.get('password').errors.required"
                          >
                            La contraseña es requerida.
                          </small>
                        </div>
                      </div>
                      <!-- <p class="text-right mb-0 forgotPass">
                        <small
                          ><a (click)="open(classic3, '', '')"
                            >Olvidé mi contraseña</a
                          ></small
                        >
                      </p> -->
                      <div class="text-center">
                        <button
                          type="button"
                          class="btn btn-default my-3"
                          [disabled]="!loginForm.valid"
                          (click)="login()"
                        >
                          Ingresar
                        </button>
                      </div>
                      <p class="text-center mb-0 forgotPass">
                        <a [routerLink]="['/register']">Registrarse</a>
                      </p>
                      <p class="text-center mb-0 forgotPass mt-4">
                        <a [routerLink]="['/recoveryPass']"
                          >¿Olvidaste tú contraseña?</a
                        >
                      </p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <ng-template #classic3 let-c="close" let-d="dismiss">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">
            Olvidé mi contraseña
          </h6>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form" [formGroup]="forgotPassForm">
            <div
              class="form-group mb-3"
              [ngClass]="{ focused: focus === true }"
            >
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-circle-08"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Número de cuenta"
                  type="text"
                  (focus)="focus = true"
                  (blur)="focus = false"
                  formControlName="account_number"
                />
              </div>
              <div
                *ngIf="
                  forgotPassForm.get('account_number').invalid &&
                  (forgotPassForm.get('account_number').dirty ||
                    forgotPassForm.get('account_number').touched)
                "
              >
                <small
                  style="color: red"
                  *ngIf="forgotPassForm.get('account_number').errors.required"
                >
                  El número de cuenta es requerido.
                </small>
                <small
                  style="color: red"
                  *ngIf="forgotPassForm.get('account_number').errors.pattern"
                >
                  El número de cuenta no es válido. No utilices guiones.
                </small>
              </div>
            </div>
            <div
              class="form-group mb-1"
              [ngClass]="{ focused: focus1 === true }"
            >
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Correo institucional"
                  type="email"
                  (focus)="focus1 = true"
                  (blur)="focus1 = false"
                  formControlName="email"
                />
              </div>
              <div
                *ngIf="
                  forgotPassForm.get('email').invalid &&
                  (forgotPassForm.get('email').dirty ||
                    forgotPassForm.get('email').touched)
                "
              >
                <small
                  style="color: red"
                  *ngIf="forgotPassForm.get('email').errors.required"
                >
                  El correo es requerido.
                </small>
                <small
                  style="color: red"
                  *ngIf="forgotPassForm.get('email').errors.pattern"
                >
                  El correo no es válido. Solamente puedes utilizar tu correo
                  institucional.
                </small>
              </div>
            </div>
            <div class="alert alert-info mt-3" role="alert">
              <strong>Importante</strong> Recibirás un correo con una contraseña
              temporal para poder acceder a la plataforma.
            </div>
            <div class="text-center">
              <button
                type="button"
                class="btn btn-default my-3"
                [disabled]="!forgotPassForm.valid"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </ng-template>
    <!-- 1st Hero Variation -->
  </div>

  <!-- <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4" *ngFor="let step of steps">
              <div class="card card-lift--hover shadow border-0 h-100">
                <div class="card-body py-5">
                  <div
                    class="icon icon-shape icon-shape-{{
                      step.color
                    }} rounded-circle mb-4"
                  >
                    <i class="ni ni-{{ step.icon }}"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">{{ step.title }}</h6>
                  <p
                    class="description mt-3"
                    [innerHTML]="step.Description"
                  ></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg pt-0">
    <div class="container">
      <div class="card bg-gradient-primary shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col">
              <p class="lead text-white mt-3">
                En el marco de la implementación del Programa de Atención
                Integral Estudiantil (PAI-E), puedes visitar el siguente enlace:
              </p>
              <a
                class="text-default"
                target="blank"
                href="https://pai-voae.unah.edu.hn/login"
                ><h4>Clic aquí</h4></a
              >
              <p class="lead text-white mt-3">
                Este instrumento nos permite completar tu perfil social,
                educativo, cultural, deportivo y de salud. Es importante que lo
                completes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img
            src="./assets/img/theme/promo-1.png"
            class="img-fluid floating"
          />
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div
              class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5"
            >
              <i class="ni ni-folder-17"></i>
            </div>
            <h3>Documentos Importantes</h3>
            <div>
              <p class="mb-0">
                Considera que para ser atendido debes portar los siguientes
                documentos:
              </p>
              <ul class="list-unstyled mt-2">
                <li class="py-2" *ngFor="let importantDoc of importantDocs">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-bold-right"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">{{ importantDoc }}</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img
              src="./assets/img/theme/img-1-1200x1000.jpg"
              class="card-img-top"
            />
            <blockquote class="card-blockquote">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="svg-bg"
              >
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon
                  points="0,42 583,95 683,0 0,95"
                  opacity=".2"
                  class="fill-default"
                />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">
                Importante
              </h4>
              <p class="lead text-italic text-white">
                Si todavía no conoces el Area de salud de VOAE, estamos ubicados
                en la primera planta del Edificio J1. En el caso de que visites
                por primera vez el Área de la Salud de la VOAE debes realizar la
                apertura de expediente clínico. ¡Te esperamos!
              </p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div
              class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5"
            >
              <i class="ni ni-bulb-61"></i>
            </div>
            <h3>Sabías que..</h3>
            <p class="lead">
              Los estudiantes tienen derecho de recibir consultas médicas
              gratuitas y a practicarse exámenes de laboratorio (clínico) entre
              ellos hemograma completo, de medición de plaquetas, triglicéridos,
              entre otros.
            </p>
            <p>
              Otro beneficio es el acceso a medicamentos a través de su
              farmacia, donde el estudiante cuenta con un seguro anual de 250
              lempiras en medicamentos, costos que ya están registrado con el
              pago de la matrícula.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-0 bg-gradient-warning">
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-md-6"
          style="display: flex; align-items: center;"
        >
          <div class="d-flex px-3">
            <div>
              <div
                class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary mb-3"
              >
                <i class="ni ni-ambulance text-primary"></i>
              </div>

              <h4 class="display-3 text-white">Servicios brindados</h4>
              <p class="text-white">
                Los servicios que puedes recibir en las clínicas del Área de la
                Salud de la Vicerrectoría de Orientación y Asuntos Estudiantiles
                (VOAE), son los siguientes:
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img
              src="./assets/img/ill/ill-2.svg"
              class="img-center img-fluid"
            />
          </div>
        </div>
      </div>
      <div class="row row-grid">
        <div class="col-lg-6 order-lg-1 my-1" *ngFor="let service of services">
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <h6 class="title text-success">{{ service.label }}</h6>
                  <ul class="list-unstyled mt-2">
                    <li class="py-2" *ngFor="let item of service.services">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-success mr-3">
                            <i class="ni ni-bold-right"></i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-0">{{ item }}</h6>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg my-auto">
        <div class="col-lg-8">
          <h2 class="display-3">Nuestros horarios de atención</h2>
          <p class="lead text-muted">
            Lunes a viernes de 7:00 a.m. -7:00 p.m.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg pt-0">
    <div class="container">
      <div class="card bg-gradient-danger shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col">
              <p class="lead text-white mt-3">
                Cada uno de los programas de salud del área de VOAE es
                totalmente gratis en la consulta general y exámenes, con
                excepción de los servicios odontológicos, ya que algunos
                tratamientos tienen un valor simbólico, que son utilizados para
                la sostenibilidad de los servicios de odontología del Área de
                salud.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">
            ¿Sabes qué servicios ofrece la Clínica de la Mujer?
          </h2>
          <p class="lead text-white">
            La Clínica Integral de la Mujer ofrece cuidados de salud para las
            universitarias que requieren de sus servicios y está ubicada en el
            edificio J1 de la Universidad Nacional Autónoma de Honduras (UNAH).
          </p>
        </div>
      </div>
      <div class="row row-grid my-5 justify-content-md-center">
        <div class="col-lg-6 order-lg-1 my-1">
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3 justify-content-center">
                <div>
                  <ul class="list-unstyled mt-2">
                    <li
                      class="py-2"
                      *ngFor="let service of clinicaMujerServices"
                    >
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-success mr-3">
                            <i class="ni ni-bold-right"></i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-0">{{ service }}</h6>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Escríbenos</h4>
              <p class="mt-0">
                Si tienes algún problema o deseas consultarnos algo, puedes
                escribirnos.
              </p>
              <div
                class="form-group mt-5"
                [ngClass]="{ focused: focus === true }"
              >
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-user-run"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Nombre Completo"
                    type="text"
                    (focus)="focus = true"
                    (blur)="focus = false"
                  />
                </div>
              </div>
              <div class="form-group" [ngClass]="{ focused: focus1 === true }">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Correo Electrónico"
                    type="email"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea
                  class="form-control form-control-alternative"
                  name="name"
                  rows="4"
                  cols="80"
                  placeholder="Escribe un mensaje..."
                ></textarea>
              </div>
              <div>
                <button
                  type="button"
                  class="btn btn-default btn-round btn-block btn-lg"
                >
                  Enviar Mensaje
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">
            No lo olvides
            <span class="text-success"
              >¿Es la primera vez que visitarás la clínica?</span
            >
          </h2>
          <p class="lead">
            Cuando es la primera vez que el estudiante acude a recibir atención
            clínica, debe ir primero al Departamento de Archivo, situado en el
            edificio J1, para crear un expediente clínico. Una vez realizado
            este trámite, el estudiante puede recibir atención a través de la
            consulta.
          </p>
        </div>
      </div>
    </div>
  </section> -->
</main>
