<footer
  class="footer"
  [ngClass]="{
    'has-cards':
      getPath() !== '/user-profile' &&
      getPath() !== '/register' &&
      getPath() !== '/login'
  }"
>
  <div class="container">
    <hr />
    <div class="row align-items-center justify-content-md-between">
      <div class="col">
        <div class="copyright">
          &copy; {{ test | date: "yyyy" }}
          <!-- <a href="https://www.unah.edu.hn/" target="_blank"
            >Universidad Nacional Autónoma de Honduras</a
          >.  -->

          <a href="https://bmedical.webflow.io" target="_blank"
          ><img src="https://uploads-ssl.webflow.com/60627bc52f76a5666e1c495b/6069e70efb08b4c6c773f686_logo%40300x-p-500.png"  style="width:15%"  alt=""></a
        >

        </div>
      </div>
    </div>
  </div>
</footer>
