<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div
      class="container pt-lg-md animate__animated animate__fadeIn animate__faster"
    >
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white">
              <div class="text-muted text-center">
                <h5>Agendar una cita</h5>
              </div>
            </div>
            <div *ngIf="!loading">
              <div class="card-body p-lg-4 mt-4 text-center" *ngIf="cita">
                <h5 class="mb-0">Cita agendada</h5>
                <small>{{ cita.fecha }} {{ cita.schedule.label }}</small>

                <h6 class="mt-2 mb-0">
                  {{ cita.attention_type.attention_type_name }}
                </h6>
                <p class="mb-0">{{ cita.clinic.clinic_name }}</p>
                <p>{{ cita.doctor.user_name }}</p>

                <p>
                  <button
                    type="button"
                    class="btn btn-outline-warning"
                    (click)="cancelarCita()"
                  >
                    <!-- [disabled]="!citasForm.valid" -->
                    Cancelar Cita
                  </button>
                </p>
              </div>

              <div class="card-body p-lg-4 mt-4" *ngIf="!cita">
                <form role="form" [formGroup]="citasForm">
                  <div class="row">
                    <div class="col-md-7 col-lg-6 px-lg-5">
                      <h6>Tipo de Atención</h6>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label
                            class="input-group-text"
                            for="inputGroupSelect01"
                            ><i class="ni ni-single-copy-04"></i
                          ></label>
                        </div>
                        <select
                          class="custom-select"
                          formControlName="tipoAtencion"
                          (change)="setClinic()"
                          ><!-- (input)="inputChange()" -->
                          <option value="" disabled selected hidden
                            >Selecciona el tipo de atención...</option
                          >
                          <option
                            [value]="tipo.attention_type_id"
                            *ngFor="let tipo of tipoAtencion"
                            >{{ tipo.attention_type_name }}</option
                          >
                        </select>
                      </div>
                      <h6>Clínica</h6>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label
                            class="input-group-text"
                            for="inputGroupSelect01"
                            ><i class="ni ni-square-pin"></i
                          ></label>
                        </div>
                        <select
                          class="custom-select"
                          formControlName="clinica"
                          (change)="setDoctors()"
                        >
                          <option value="" disabled selected hidden
                            >Selecciona una clínica...</option
                          >
                          <option
                            [value]="clinica.clinic_id"
                            *ngFor="let clinica of clinicas"
                            >{{ clinica.clinic_name }}</option
                          >
                        </select>
                      </div>
                      <h6>Médico</h6>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label
                            class="input-group-text"
                            for="inputGroupSelect01"
                            ><i class="ni ni-circle-08"></i
                          ></label>
                        </div>
                        <select
                          class="custom-select"
                          formControlName="medico"
                          (change)="enableCalendar()"
                        >
                          <option value="" disabled selected hidden
                            >Selecciona al médico...</option
                          >
                          <option
                            [value]="medico.user_id"
                            *ngFor="let medico of medicos"
                            >{{ medico.user_name }}</option
                          >
                        </select>
                      </div>
                      <h6>Fecha</h6>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text dateSelect"
                            ><i class="ni ni-calendar-grid-58"></i
                          ></label>
                        </div>
                        <input
                          class="form-control datepicker customDatepicker"
                          placeholder="Seleccionar fehca"
                          name="dp"
                          ngbDatepicker
                          #d="ngbDatepicker"
                          [markDisabled]="markDisabled"
                          [minDate]="todayDate"
                          [maxDate]="maxDate"
                          (click)="d.toggle()"
                          (dateSelect)="changeCalendar()"
                          type="text"
                          formControlName="fecha"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="col-md-5 col-lg-6">
                      <h6>Horarios disponibles</h6>
                      <ul class="horariosRadioButtons">
                        <li *ngFor="let hora of horarioMedico">
                          <!-- ES IMPORTANTE MANTENER TODAS LAS PROPIEDADES QUE TIENE EL RADIO BUTTON PARA QUE FUNCIONE CORRECTAMENTE -->
                          <input
                            type="radio"
                            [value]="hora.schedule_id"
                            [id]="hora.schedule_id"
                            name="horarios"
                            [attr.disabled]="hora.disabled"
                            formControlName="horarios"
                          />
                          <label [for]="hora.schedule_id">{{
                            hora.label
                          }}</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 mt-5">
                    <p class="text-right">
                      <button
                        type="button"
                        class="btn btn-outline-default"
                        (click)="agendarCita()"
                      >
                        <!-- [disabled]="!citasForm.valid" -->
                        Agendar cita
                      </button>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </section>
  <button type="button" class="btn btn-info btn-floating" (click)="quoteServices()"><i class="fas fa-calculator"></i> Cotizar</button>
</main>
